$boneta-color-yellow-50: #fffee6;
$boneta-color-yellow-100: #fefac0;
$boneta-color-yellow-200: #fdf795;
$boneta-color-yellow-300: #fcf267;
$boneta-color-yellow-400: #f9ee3f;
$boneta-color-yellow-500: #f6e900;
$boneta-color-yellow-600: #ffdd03;
$boneta-color-yellow-700: #ffc400;
$boneta-color-yellow-800: #ffab00;
$boneta-color-yellow-900: #ff7f00;

$boneta-color-blue-50: #ece7ff;
$boneta-color-blue-100: #cdc4fe;
$boneta-color-blue-200: #aa9cfe;
$boneta-color-blue-300: #8173ff;
$boneta-color-blue-400: #5954ff;
$boneta-color-blue-500: #0335ff;
$boneta-color-blue-600: #0032f8;
$boneta-color-blue-700: #002bf0;
$boneta-color-blue-800: #0026eb;
$boneta-color-blue-900: #001be6;

$boneta-color-pink-50: #ffe5ed;
$boneta-color-pink-100: #ffbcd3;
$boneta-color-pink-200: #ff90b5;
$boneta-color-pink-300: #ff6297;
$boneta-color-pink-400: #ff3b7f;
$boneta-color-pink-500: #ff0266;
$boneta-color-pink-600: #ed0065;
$boneta-color-pink-700: #d70060;
$boneta-color-pink-800: #c2005d;
$boneta-color-pink-900: #9e0057;

:root {
  --boneta-color-primary: #ffdd03;
  --boneta-color-accent: #0335ff;
  --boneta-color-warn: #ff0266;
}
