$componentId: 'edit-song';

.#{$componentId} {
  &-form {
    height: calc(100% - 56px);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--boneta-color-accent);

    &-field {
      width: 80%;
    }

    &-edit {
      position: absolute;
      bottom: 24px;

      width: 200px;
      border-radius: 24px;

      color: var(--boneta-color-accent);

      mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }
}
