<mat-toolbar color="accent">
  <button type="button" mat-icon-button (click)="goBack()">
    <mat-icon svgIcon="arrow_back"></mat-icon>
  </button>
</mat-toolbar>
<form class="add-song-form" [formGroup]="songGroup" (submit)="onSubmit()">
  <mat-form-field class="add-song-form-field" color="accent">
    <mat-label for="songTitle">Title</mat-label>
    <input type="text" name="songTitle" formControlName="title" matInput />
  </mat-form-field>
  <mat-form-field class="add-song-form-field" color="accent">
    <mat-label for="songAuthor">Author</mat-label>
    <input type="text" name="songAuthor" formControlName="author" matInput />
  </mat-form-field>
  <mat-form-field class="add-song-form-field" color="accent">
    <mat-label for="songLyrics">Lyrics</mat-label>
    <textarea name="songLyrics" formControlName="lyrics" matInput></textarea>
  </mat-form-field>
  <button
    class="add-song-form-add"
    type="submit"
    mat-raised-button
    color="primary"
  >
    <mat-icon svgIcon="add"></mat-icon>
    <span>ADD SONG</span>
  </button>
</form>
